<%- include('partials/header'); -%>

<main>
    <div class="main-container">
        <h1> 
            <span style="font-weight: 100;"><em>Welcome To Scissor,</em></span> <br>Where Brief Is The New Black!
        </h1>
        <p>
            Brief is the new black, this is what inspires the team at Scissor. In today's world, it's important to keep things as short as possible, and this applies to more concepts than you may realize. From music, speeches, to wedding receptions, brief is the new black. Scissor is a simple tool which makes URLs as short as possible. Scissor thinks it can disrupt the URL shortening industry and give the likes of bit.ly and ow.ly a run for their money within 2 years.
        </p>
        <p>New to Scissor? <a href="/scissor/signup">Create an account</a>.</p>
        <p>Already have an account? <a href="/scissor/login">Log in</a>.</p>
    </div>
</main>

<%-include('partials/footer');-%>