<%- include('partials/header'); -%>
<h1>Congratulations, Your Sign Up Was Successful!</h1>
<p>Click <a href="/scissor/homepage">Home Page</a> to go to Home Page.</p>
<p>Click <a href="/api/v1">Dashboard</a> to go to Dashboard.</p>
<%- include('partials/footer'); -%>